body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1094px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 242, 247, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:1094px;
  height:222px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-style:normal;
  font-size:40px;
  color:#3C4858;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:85px;
  width:308px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-style:normal;
  font-size:40px;
  color:#3C4858;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8492A6;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:151px;
  width:988px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8492A6;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8492A6;
  line-height:28px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:303px;
  width:771px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8492A6;
  line-height:28px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:303px;
  width:1094px;
  height:1015px;
}
#u70_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:1015px;
  overflow:auto;
}
