body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 242, 247, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:1094px;
  height:222px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-style:normal;
  font-size:40px;
  color:#3C4858;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:85px;
  width:228px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-style:normal;
  font-size:40px;
  color:#3C4858;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8492A6;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:151px;
  width:61px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8492A6;
}
#u44 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:1204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8492A6;
  line-height:28px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:303px;
  width:771px;
  height:1204px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8492A6;
  line-height:28px;
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:355px;
  width:103px;
  height:101px;
  display:flex;
  transition:none;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:101px;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:317px;
  width:399px;
  height:176px;
  display:flex;
  transition:none;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:176px;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:406px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:619px;
  height:10px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:-5px;
  width:10px;
  height:66px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:288px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:405px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:224px;
  height:10px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:-5px;
  width:10px;
  height:11px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:-4px;
  width:224px;
  height:10px;
}
#u49_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:380px;
  width:180px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:595px;
  width:227px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:621px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:179px;
  height:10px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-6px;
  width:10px;
  height:11px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-6px;
  width:222px;
  height:10px;
}
#u52_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:848px;
  width:227px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:841px;
  width:262px;
  height:63px;
  display:flex;
  transition:none;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:63px;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:873px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:396px;
  height:10px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:734px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:101px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:91px;
  width:11px;
  height:10px;
}
#u56_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:91px;
  width:10px;
  height:16px;
}
#u56_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:467px;
  width:25px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:719px;
  width:24px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1075px;
  width:320px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:979px;
  width:219px;
  height:243px;
  display:flex;
  transition:none;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:243px;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1100px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:90px;
  height:10px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-5px;
  width:10px;
  height:11px;
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:218px;
  height:10px;
}
#u61_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1399px;
  width:310px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1374px;
  width:103px;
  height:101px;
  display:flex;
  transition:none;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:101px;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1425px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:314px;
  height:10px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:513px;
  width:262px;
  height:246px;
  display:flex;
  transition:none;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:246px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:513px;
  width:227px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:575px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-42px;
  width:10px;
  height:42px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:-42px;
  width:241px;
  height:10px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-45px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.10196078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:575px;
  width:134px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
